/*titulo*/
/*id="aling"*/
#aling{
    text-align: center;
    background-color:none;
}
/*class="title-effect"*/
.title-effect{
    display: inline-block;
    position:relative;
    color: rgb(63, 143, 255);
    
}
.title-effect::after, .title-effect::before{
    content:'';
    position: absolute;
    width: 100px;
    height: 2px;
    background-color:currentColor;
    top: 0.6em;
}

.title-effect::before{
    left: -140px;
}
.title-effect::after{
    right: -140px;
}
/*lista*/
.none::before{
    content:'-';
}
.none{
    list-style-type: none;
}
/**/
.text-decorative{
    padding: 0;
    margin: 0;
    
}